<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Seeing what you can't.</title>
         <link rel="stylesheet" type="text/css" href="style.css"/>
    
  </head>
  <body>
    <header>
        <img src="byond.png" alt="Paris" class="center">
    <div id="socialMedia">
    </div>
    </header>
    
    <p>Read Text from far away or that is hard to see from image instantly </p>
    
    
    <h2> Upload or drop your photo here.</h2>
      <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="image_input"/><br>
      <input type="submit" value="Upload"/>
    </form>
    <ul>
      <li>
        <h2> Read what your eyes can't </h2>
        <p> "24.4 Million American have cataracs before age 40, and by 75 50% will have them." </p>
      </li>
      <li>
        <h2> Take the power back in your hands </h2>
        <p> "As well, 2.7 million Americans of age 40 and older have Glaucoma" </p>
      </li>
      <li>
        <h2> Retain a bit more clearity in your life </h2>
        <p> "A world your partly blind to." </p>
    </ul>

    <div id="icon">
      <img src="blu.png" class="ribbon"/>
    </div>
    <footer>
      <p>We hope this helps a little</p>
      <p>and Thanks for supporting us by visiting the page</p>
      <p></p>
    </footer>
  </body>
</html>
